body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  main {
    flex: 1;
  }

  footer {
    flex-shrink: 0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    justify-content:space-between;
    height: 150px;
    display: flex;
    align-items: center;
  }
  footer img{
    width: 4.688rem;
    height: 4.688rem;/*75px*/
  }
  .contactFooter{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
  }
  .contactFooter p {
    font-size: 1.5rem;
  }
  .lienFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .lienFooter svg{
    font-size: 1.8rem;
    color: #ffffff;
  }  
  @media (max-width: 768px){
    footer img{
      width: 2.813rem;
      height: 2.813rem; /* 45px */
    }
    footer {
      height: 75px;
    }
  }