.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #000000;
  }

  .typing-effect {
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #ffffff;
  }

  .intro-container h2 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 10px; 
  }
  .intro-divider {
    width: 3.125rem;/*50px*/
    height: 2px;
    background-color: #ffffff;
    border: none;
    margin-top: 20px; 
  }
  @media (max-width: 768px) {
    .typing-effect {
      font-size: 1.6rem;
      animation: none;
    }

    .intro-container h2 {
      font-size: 1.2rem;
    }

    .intro-divider {
      width: 30px;
      margin-top: 10px;
    }
  }