.project-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: #c6d0de;
  text-align: center;
}

.project-gallery h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-buttons button {
  background-color: #3883b8;
  color: #000000;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 1rem;
  margin: 0 10px;
  border: none;
}

.project-buttons button.active {
  background-color: #0a3143; 
  color: #ffffff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform: translateY(-3px);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

@media (max-width: 768px) {
  .project-gallery {
    height: 100vh; 
    padding-top: 60px;
  }
  .project-gallery h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .project-buttons button{
    padding: 5px 7px;
    border-radius: 15px;
    font-size: 0.8rem;
    margin: 0 10px;
    border: none;
  }
}