.projet-detail:nth-child(even) {
    background-color: #c6d0de;
    height: 100vh;
  }
  
  .projet-detail:nth-child(odd) {
    background-color: #EBEDEF;
    height: 100vh;
  }
  
  .projet-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .projet-detail h2 {
    font-size: 3rem;
  }
  