.projet-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EBEDEF;
  height: 50vh;
  text-align: center;
  max-width: 77.5rem;
  margin-left: auto; 
  margin-right: auto; 
  padding: 20px; 
}
  .projet-detail h3 {
    font-size: 2rem;
  }
  .projet-detail p{
    font-size: 1.2rem;
    max-width: 68.75rem; /*1100px*/
  }
  .projet-detail .tags {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 20px; 
  }
  .projet-detail .tags span {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 15px; 
    border-radius: 20px; 
    font-size: 1.5rem;
  }
  .projet-detail .liens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center; 
    align-items: flex-end;
    width: 28.125rem;/* 450px */
  }
  .projet-detail .liens a svg {
    font-size: 2rem;
    margin-top: 3.125rem;
    color: black;
  }  

  @media (max-width: 768px){
    .projet-detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #EBEDEF;
      height: 570px;
      text-align: center;
      max-width: 77.5rem;
      padding: 10px; 
    }
    .projet-detail h3 {
      font-size: 1.5rem;
    }
    .projet-detail p{
      font-size: 1rem;
      max-width: 25rem; /*600px*/
    }
    .projet-detail .tags span {
      padding: 5px 7px; 
      border-radius: 15px;
      font-size: 1rem;
    }
    .projet-detail .liens {
      width: 15.625rem;/* 250px */
    }
  }