.return {
    text-align: center;
    margin-top: 125px;
    margin-bottom: 125px;
  }

  .return a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3883b8;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .return a:hover {
    background-color: #0a3143;
  }